body {
    background-color: #FEEED6;
}

div {
    display: block;
}

.container {
    max-width: 900px;
    margin: initial;
}

.main-font {
    font-family: Arial,sans-serif;
}

.main-heading {
    color: #676565;
    max-width: 750px;
    margin: 8px 0 0 11px;
    font-size: 34px;
    font-weight: 500;
}

.course-information {
    color: #78656A;
    font-size: 21px;
    margin: 12px 0 0 11px;
}

.color-blue {
    color: #378DB2;
    font-weight: 600;
}

.course-content {
    color: #78656A;
    font-size: 19px;
    margin: 0 0 0 11px;
    text-indent: 15px;
    line-height: 126%;
    text-align: justify;
    font-weight: 300;
}

.course-content p {
    margin: 0 0 14px 0;
}

.title-content {
    font-size: 21px;
    margin: 15px 0 14px 11px;
}