* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F8FCFF;
    font-size: 22px;
}

div {
    display: block;
}

.container {
    max-width: 880px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
}

.frame th, td {
    padding: 14px 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    text-align: left;
    vertical-align: middle;
}

.header_background {
    background-color: #3498DB;
    color: #FFFFFF;
    font-size: 24px;
}

.gray_background {
    background-color: #EEEEEE;
}

table td:nth-child(1) {
    width: 176px;
}

table td:nth-child(2) {
    width: 173px;
}

table td:nth-child(3) {
    width: 310px;
}

table td:nth-child(4) {
    width: 201px;
}