* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F8FCFF;
    font-size: 22px;
}

.container {
    max-width: 880px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
}

.table_rows td {
    padding: 14px 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    text-align: left;
    vertical-align: middle;
}

.table_header th {
    padding: 14px 11px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    text-align: left;
    vertical-align: middle;
    background-color: #3498DB;
    color: #FFFFFF;
    font-size: 24px;
}

.table_rows tr:nth-child(odd) {
    background-color: #EEEEEE;
}

.first_column td:nth-child(1) {
    width: 176px;
}

.second_column td:nth-child(2) {
    width: 173px;
}

.third_column td:nth-child(3) {
    width: 310px;
}

.fourth_column td:nth-child(4) {
    width: 201px;
}