* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F8FCFF;
    font-size: 22px;
}

.container {
    max-width: 880px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
}

.table th, .table td {
    padding: 14px 12px;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: #CCCCCC;
    text-align: left;
    vertical-align: middle;
}

.table th {
    background-color: #3498DB;
    color: #FFFFFF;
    font-size: 24px;
}

.table tr:nth-child(odd) {
    background-color: #EEEEEE;
}

.first_name_column {
    width: 176px;
}

.last_name_column {
    width: 173px;
}

.job_column {
    width: 310px;
}

.twitter_column {
    width: 201px;
}