* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 17px;
    background-color: #c0e1fd;
}

.heading {
    font-family: Bradley Hand, cursive;
    font-size: 60px;
    padding: 10px;
    text-align: center;
    color: #024065;
    background-color: rgba(46, 115, 180, 0.45);
}

.container {
    max-width: 1000px;
    border-style: dashed;
    border-color: #000e15;
    border-bottom-width: 3px;
    padding: 10px 15px;
    margin: 0 auto;
    text-align: left;
}

.input_field {
    background-color: rgba(113, 177, 246, 0.75);
    border-width: 0;
    width: 88%;
    padding: 9px 14px;
    border-radius: 10px;
}

.input_field::placeholder {
    color: #2a2727;
}

.button {
    background-color: rgba(113, 177, 246, 0.75);
    font-size: 16px;
    font-weight: 700;
    padding: 9px 13px;
    text-align: center;
    vertical-align: middle;
    border-style: dotted;
    border-width: 1px;
    border-color: #0722a8;
    border-radius: 10px;
}

.button:hover {
    background-color: rgba(113, 177, 246, 0.91);
    border-style: dashed;
    border-width: 1px;
    border-color: #04167d;
}

.text_style {
    background-color: rgba(246, 193, 113, 0.75);
    border-width: 0;
    width: 74%;
    padding: 9px 14px;
    border-radius: 10px;
}

.edit_button {
    color: #0722a8;
}

.delete_button {
    color: #880f08;
}

.save_button {
    color: #0722a8;
}

.cancel_button {
    color: #880f08;
}

@media screen and (max-width: 1000px) {
    .input_field {
        width: 100%;
    }

    .text_style {
        width: 100%;
    }

    .container {
        text-align: right;
    }

    .button {
        margin: 5px 0;
    }
}